/* SIDEBAR */
/* breakpoints <= 800px: sidebar collassa
801 px <= x <= 1330 : sidebar mostra alcune icone */ 

@media screen and (max-width: 800px) {
    .side-bar { 
        display: none;
    }
}

@media screen and (min-width: 801px) and (max-width: 1330px) {
    .side-bar { 
        width: 60px;
        font-size: 10px; 
    }

    .menu-item {
        display: flex;
        flex-direction: column;
    }
    .widget#subscription { display: none; }
    .widget#your-videos li:not(:first-child) { display: none; }
}

/* PLAYLIST */
/* breakpoints 
 4 colonne (> 1140px)
 3 (>890px)
 2 ( > 510px )
 1 (< 509px ) */

@media screen and (max-width: 510px) { /*una colonna*/
    .play-list {
        display: flex;
        flex-wrap: wrap;
    }
    .main-container { width: 90%; }
    .play-list-item { width: 100%; } 
}

@media screen and (min-width: 511px) and (max-width: 890px) { /*due colonne */
    .play-list {
        display: flex;
        flex-wrap: wrap;
    }
    .main-container { width: 90%; }
    .play-list-item { width: 45%; } 
}

@media screen and (min-width: 891px) and (max-width: 1140px) { 
    .play-list {
        display: flex;
        flex-wrap: wrap;
    }
    .main-container { width: 90%; }
    .play-list-item { width: 30%; } 
}